.App {
  height: 150vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 150vh;
  width: 100vw;
  background: linear-gradient(to left top, #0c47eb, #1c1c1b);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  padding-top: 30px;
  background: white;
  min-height: 90vh;
  width: 60%;
  background: linear-gradient( to right bottom, rgba(0, 4, 231, 0.6), rgba(255, 255, 255, 0.2));
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
  z-index: 9;
  /* -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem); */
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.065), 0 2px 2px hsl(0deg 0% 0% / 0.065), 0 4px 4px hsl(0deg 0% 0% / 0.065), 0 8px 8px hsl(0deg 0% 0% / 0.065), 0 16px 16px hsl(0deg 0% 0% / 0.065);
}

.circleL1, .circleL2, .circleL3, .circleR1, .circleR2, .circleR3 {
  background: white;
  background: linear-gradient(to right bottom, red, black);
  height: 5rem;
  width: 5rem;
  position: absolute;
  z-index: 3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.065), 0 2px 2px hsl(0deg 0% 0% / 0.065), 0 4px 4px hsl(0deg 0% 0% / 0.065), 0 8px 8px hsl(0deg 0% 0% / 0.065), 0 16px 16px hsl(0deg 0% 0% / 0.065);
}

.circleL1 {
  background: linear-gradient(to right bottom, red, black);
  top: 10%;
  margin-right: 50%;
}
.circleL2 {
  background: linear-gradient(to right bottom, blue, black);
  top: 10%;
  margin-right: 30%;
}
.circleL3 {
  background: linear-gradient(to right bottom, yellow, black);
  top: 10%;
  margin-right: 10%;
}

.circleR1 {
  background: linear-gradient(to right bottom, white, black);
  top: 10%;
  margin-left: 10%;
}

.circleR2 {
  background: linear-gradient(to right bottom, pink, black);
  top: 10%;
  margin-left: 30%;
}
.circleR3 {
  background: linear-gradient(to right bottom, green, black);
  top: 10%;
  margin-left: 50%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url();
  background-size: 1000px 100px;
  z-index: 2;
}

.wave1 {
  -webkit-animation: animate 30s linear infinite;
  animation: animate 30s linear infinite;
  z-index: 3;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wave2 {
  -webkit-animation: animate2 15s linear infinite;
  animation: animate2 15s linear infinite;
  z-index: 4;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.wave3 {
  -webkit-animation: animate 5s linear infinite;
  animation: animate 5s linear infinite;
  z-index: 5;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 20px;
}

.wave4 {
  -webkit-animation: animate2 30s linear infinite;
  animation: animate2 30s linear infinite;
  z-index: 6;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.header {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: #fff;
}
.explain-text {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 18px;
  color: #fff;
  padding: 20px;
}

.alert-text {
  font-size: 25px;
  color: rgb(207, 23, 23);
}

.left{
  margin-right : auto
}

.select-box{
  margin: 0px 0px 0px 0px;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.text-box{
  margin: 0px 0px 0px 0px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #2e09e8 30%, #35a0e2 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: 220px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #096003, #000507);
  background-size: 200% 200%;
  -webkit-animation: gradient-animation 4s ease infinite;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #111112, #6f76ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  padding: 13px;
  background: transparent;
  border: 2px solid rgb(32, 129, 226);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(32, 129, 226);
  position: relative;
}

.opensea-logo {
  position: relative;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 2px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  z-index: 7;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  margin: 3px 10px 5px 0px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}